@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div><img src="~/images/DinoDiner-24.png" alt="DinoDiner Logo" height="200" width="1023" /></div>

<div><a asp-page="/Menu" class="link">Menu Page</a></div>

<div><a asp-page="/About" class="link">About Us</a></div>

<div><a asp-page="/Privacy" class="link">Privacy Policy</a></div>